*{
    box-sizing:border-box;
}

body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    text-align: center;
    margin: auto;  
}

header, nav, section, aside, footer{
    background-color: #ebebeb;
    margin: 10px 0px;
    padding: 30px 0px;
}

header, footer, nav {
    padding-right: 76px;
}

section{
    float: left;
    width: 495px;
    margin-bottom:20px;
    padding-bottom:0px;
}

article {
    color: #ebebeb;
    background: #777;
    margin: 20px 10px 10px;
    padding: 20px 25px 10px 20px;
    overflow: auto;
}

h4, p{
    color: #777;
    background: #ebebeb;
    margin:10px 0px 0px;
    padding: 20px 0px;
}

h4{
    margin-top: 20px;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2, h3 {
    font-size: 18px;
    font-weight: 100;
    margin: 0
}

aside {
    width: 445px;
    margin-left: 20px;
    float: left;
    height: 287.78px;
    margin-bottom:20px;
}

footer{
    clear:both
}



 
  


 


